main {
    padding-top: 4rem;
    margin-bottom: 2rem;
}

#hobby-volleyball,
#hobby-motor-cycle {
    margin-top: -20%;
    margin-bottom: -10%;
}

#hobby-bouldering {
    margin-top: -40%;
    margin-bottom: -48.4%;
}

#hobby-diving {
    margin-top: -0%;
    margin-bottom: -30%;
}

.gradient-background {
    background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.banner-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
}

.grid-logo {
    grid-row: span 2;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
